.control-section-unique-startup h3.accordion-section-title {
  line-height: 30px;
}
#customize-theme-controls .control-panel-themes>.accordion-section-title, 
#customize-theme-controls .control-panel-themes>.accordion-section-title:hover{
  margin: 0;
}
.control-section-unique-startup h3.accordion-section-title a{
  float: right;
}
li#customize-control-unique_startup_phone button,li#customize-control-unique_startup_opening_time button  {
    display: none;
}
#accordion-section-unique_startup_upgrade_pro h3 a{
  background: #fb5850;
  border-color: #ff7d1d;
  outline-color:#ff7d1d !important;
}
#accordion-section-unique_startup_upgrade_pro h3 {
  color: #50575e !important;
  background-color: #fff !important;
}
#accordion-section-unique_startup_upgrade_pro h3 a:hover{
  background: #444444;
  border-color: #444444;
  outline-color:#444444 !important;
}